.logo {
  width: 600px;
  height: 68px;
}
.topbar {
}
.topbar .btn {
  margin-top: 18px;
}
.subhead {
  background: #1d4571;
  color: #FFFFFF;
}
.intro {
  background: url('../img/bg_lg.png') top center no-repeat;
  height: 900px;
}
input {
  height: 30px;
  font-size: 2em;
  color: #1d4571;
}
.sourceLogo {
  width: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}